/* RESET */

body,
h1,
h2,
ul,
p {
  padding: 0;
  margin: 0;
}

/* GENERAL */

body {
  font-family: 'Segoe UI', sans-serif;
  color: #fff;
  font-size: 1.125rem;
}

* {
  box-sizing: border-box;
}

h2 {
  color: #2e3233;
  padding: 120px 0 54px 0;
  text-align: center;
  font-size: 2rem;
}

/* MENU */

.menu {
  background: #fff;
  padding: 23px 0;
  height: 116px;
  margin: 0 auto;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}

.menu-container {
  max-width: 960px;
  margin: 0 auto;
}

.menu-container::after,
.menu-container::before {
  content: '';
  display: table;
  clear: both;
}

a.menu-logo {
  display: block;
  float: left;
}

.img-logo {
  max-width: 57px;
}

.menu-nav {
  float: right;
}

.menu-nav li {
  display: inline-block;
}

.menu-nav a {
  display: block;
  padding: 20px;
  text-decoration: none;
  color: #2e3233;
  font-size: 1.125em;
  text-transform: uppercase;
}

.menu-nav a:hover {
  color: #abcd3c;
}

/* INTRO - container */

.intro {
  background: url('../img/main.png') no-repeat center center;
  background-size: cover;
  margin-top: 100px;
  padding: 210px 150px;
  text-align: left;
  color: #2e3233;
}

.intro h1 {
  font-size: 4rem;
  line-height: 70px;
  max-width: 280px;
}

/* ABOUT */

.about-container {
  max-width: 960px;
  margin: 0 auto;
  padding-bottom: 64px;
}

.about-container img {
  max-width: 280px;
  margin: 14px auto;
  padding-right: 30px;
}

.about-imgs {
  max-width: 280px;
  display: block;
  float: left;
}

.about-container p {
  color: #2e3233;
  padding: 10px 0;
}

/* PROCESS */

.process-container {
  background: #e2e3df;
  color: #2e3233;
  text-align: center;
}

.process-container img {
  width: 58px;
  padding-bottom: 50px;
}

.process-container p {
  padding-bottom: 10px;
}

.process-list {
  padding-bottom: 50px;
}

/* CONTACT */

.contact-container {
  color: #2e3233;
  text-align: center;
  padding-bottom: 50px;
}

.contact-container p {
  margin-bottom: 10px;
}

.footer-container {
  background: #515b5e;
  color: #fff;
}

.copyright {
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  font-size: 1rem;
}

.copyright a {
  text-decoration: none;
  color: #abcd3c;
}

.copyright a:hover {
  border-bottom: 3px solid #abcd3c;
}

/* RESPONSIVENESS */

@media only screen and (max-width: 992px) {
  /* MENU */
  .menu-container {
    max-width: 980px;
    text-align: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background: #fff;
    padding-top: 23px;
  }

  a.menu-logo {
    float: none;
    margin: 0 auto;
  }
  .menu-nav {
    float: none;
    clear: both;
  }

  /* INTRO */
  .intro {
    margin-top: 161px;
    padding: 130px 40px;
  }

  /* ABOUT */
  .about-container img {
    padding: 0;
  }

  .about-imgs {
    width: 800px;
    margin: 0 auto;
    float: none;
  }

  .about-container p {
    color: #2e3233;
    padding: 10px 54px;
    text-align: center;
  }

}

@media only screen and (max-width: 576px) {
  h2, p, img {
    margin-left: 20px;
    margin-right: 20px;
  }

  h2 {
    font-size: 1.5rem;
  }

  /* MENU */
  .menu-nav a {
    padding: 20px 5px;
  }

  /* INTRO */
  .intro {
    margin-top: 161px;
    padding: 60px 40px;
  }
  
  .intro h1 {
    font-size: 2.25rem;
    line-height: 36px;
    max-width: 120px;
  }
}